# Environnements virtuels
venv/
.env/

# Fichiers de configuration spécifiques à l'IDE
.vscode/
*.code-workspace

# Fichiers compilés Python
__pycache__/
*.py[cod]

# Journaux
*.log

echo ".coverage" >> .gitignore
echo "dist/" >> .gitignore
