# Environnements virtuels
venv/
.env/

# Fichiers de configuration spécifiques à l'IDE
.vscode/
*.code-workspace

# Fichiers compilés Python
__pycache__/
*.py[cod]

# Journaux
*.log

# Ignore coverage report
.coverage

# Ignore dist folder
dist/

# Ignore poetry.lock
poetry.lock

# Ignore les dossiers de distribution
dist/
build/